
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8b1b24;
  color: white;
  padding: 8px 30px;
  font-size: 14px;
}
.top-header a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
.social-icons img {
  width: 5px; 
  cursor: pointer;
}

