/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #821237;
  
}
.navbar .logo img {
  height: 60px;
}
.nav-links {
  list-style: none;
  display: flex;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}